/* Set main colors */
:root {
  --main: #000;
  --sec-blue: #05899c;
  --scrollbar-track: rgba(5, 136, 156, 0.1);

  --button-red: #d63031;
  --button-red-hover: #de5b5b;

  --button-green: #00b894;
  --button-green-hover: #00daaf;
  --button-gold: #fe7c04;
  --button-gold-hover: #ce6301;

  --hover-blue: rgba(5, 136, 156, 0.5);
  --button-disabled: #b2bec3;
  --text-color: #2d3436;
}
* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
/* Fonts */
@font-face {
  font-family: Forelle;
  src: url('../fonts/Forelle.ttf');
}

html {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

main {
  margin-top: 1.5vh;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  width: 92vw;
  height: 62vh;
  box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 3px;
  height: 19vh;
  width: 92vw;
  box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
}
#whitcher-logo-container {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#whitcher-logo {
  position: relative;
  height: auto;
  width: 90vw;
  -webkit-user-drag: none;
  -webkit-app-region: drag;
}

body {
  position: relative;
  top: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

#border {
  position: relative;
  visibility: hidden;
  padding: 0;
  top: 0;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
}

footer {
  position: relative;
  width: 92vw;
  border-radius: 3px;
  margin-top: 1.5vh;
  box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
}

.customer-name {
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 2vw 1vw;
  text-align: center;
  font-size: 6vw;
  margin-top: 1vh;
  background-color: #fff;
  color: var(--text-color);
}

.customer-name:hover {
  color: #fff;
  background-color: var(--hover-blue);
}

.customer-name-clicked {
  color: #fff;
  text-align: center;
  font-size: 6vw;
  /* font-weight: bold; */
  margin-top: 1vh;
  padding: 2vw 1vw;
  background-color: var(--sec-blue);
}

#container-background {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: auto;
}
#container-background::-webkit-scrollbar {
  width: 2px;
  background-color: var(--scrollbar-track);
}
#container-background::-webkit-scrollbar-thumb {
  height: 3px;
}

#customer-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  height: 12vh;
}

#customer-search {
  text-transform: uppercase;
  font-size: 6vw;
  position: relative;
  border: 2px solid #fff;
  text-align: center;
  width: 92vw;
  height: 8vh;
  color: var(--text-color);
  transition: box-shadow 0.5s;
}

#customer-search:focus {
  outline: none;
  z-index: 3;
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.3);
}

#search-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  width: 90vw;
  border: 1px solid #d1d1d1;
}

#customer-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #fff;
}
