/* Set main colors */
:root {
  --psys-blue: #09e1ff;
  --psys-red: #fe1604;
  --psys-green: #03c224;

  --main: #000;
  --sec-blue: #05899c;
  --button-red: #fe1604;
  --button-green: #03c224;
  --button-gold: #fe7c04;
}
* {
  box-sizing: border-box;
  -webkit-user-select: none;
}

html {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  background-color: transparent;
}

main {
  display: flex;
  position: relative;
  flex-direction: column;
  top: 17px;
  justify-content: center;
  background-color: #fff;
  border: 3px solid var(--main);
  border-radius: 20px;
  padding: 10px 3px;
  width: 300px;
}

header {
  position: relative;
  top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--sec-blue);
  border: 3px solid var(--main);
  border-radius: 20px;
  height: 15vh;
  width: 300px;
}
header img {
  position: relative;
  height: auto;
  width: 100%;
  padding: 1px;
  filter: drop-shadow(1px 4px 4px black);
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

#border {
  position: relative;
  opacity: 0;
  padding: 0;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 300px;
  /* transform: scaleX(0); */
  /* transform-origin: right; */
  filter: drop-shadow(1px 2px 4px #636363);
  transition: opacity 0.3s;
}

footer {
  position: relative;
  bottom: -5px;
  width: 300px;
}

.customer-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 16px;
  margin-top: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #fff;
  border: 3px solid #fff;
  border-bottom: 3px solid #e9ebeeb0;
  border-radius: 10px;
}
.customer-name-clicked {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 16px;
  margin-top: 3px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--sec-blue);
  border: 3px solid var(--main);
  border-radius: 10px;
}

#container-background {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 57vh;
  overflow-y: auto;
}
#container-background::-webkit-scrollbar {
  width: 2px;
  background-color: lightgrey;
}
#container-background::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: grey;
}

#customer-search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: var(--sec-blue);
  border: 3px solid var(--main);
  border-radius: 20px;
  height: 15vh;
  margin-top: 3.8vh;
}

#customer-search {
  text-transform: uppercase;
  padding: 2px;
  border: 4px solid #fff;
  border-radius: 50px;
  text-align: center;
  margin-right: 8px;
  font-weight: bolder;
}

#customer-search:focus {
  outline: none;
  animation: flash 1s steps(2, end) infinite;
}
@keyframes flash {
  from {
    border: 4px solid #fff;
  }
  to {
    border: 4px solid orange;
  }
}

#search-input {
  display: flex;
  flex-direction: row;
  height: 46px;
  justify-content: center;
  justify-items: center;
  padding: 5px 12px;
  border: 2px solid #fff;
  border-radius: 50px;
}

#search-input img {
  width: auto;
  position: relative;
  height: 34px;
  margin-right: 11px;
  margin-left: 1px;
}

#customer-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 0 10px;
  background-color: #fff;
}

/* loader icon */
#loader {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #fff;
  width: 270px;
  height: 563px;
  top: 21px;
  margin: 5rem auto;
  align-self: center;
  border: 3px solid var(--main);
  border-radius: 8px;
}
