/* Set main colors */
:root {
  --main: #000;
  --sec-blue: #05899c;
  --sec-blue-hover: #08d1ee;
  --scrollbar-track: rgba(5, 136, 156, 0.1);

  --button-red: #d63031;
  --button-red-hover: #de5b5b;

  --button-green: #00b894;
  --button-green-hover: #00daaf;
  --button-gold: #fe7c04;
  --button-gold-hover: #ce6301;

  --hover-blue: rgba(5, 136, 156, 0.5);
  --button-disabled: #b2bec3;
  --text-color: #2d3436;
  --progress: #fdcb6e;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none;
}

body {
  width: 215px;
  height: 65px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#progress-container {
  -webkit-app-region: drag;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--sec-blue);
  border: 2px solid var(--main);
  border-radius: 10px;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}

#progress-container::before {
  content: 'Downloading Update';
  position: absolute;
  font-size: 15px;
  top: 6px;
  font-weight: bold;
  color: #fff;
  animation: downloaded 0.8s ease-in-out infinite alternate;
}

#progress-container::after {
  content: attr(percentage-label);
  color: #fff;
  position: absolute;
  top: 33px;
  font-size: 12px;
  font-weight: bold;
}

@keyframes downloaded {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#progress {
  position: absolute;
  top: 30px;
  width: 200px;
  height: 20px;
  background-color: var(--text-color);
  border-radius: 1.5em;
  border: 2px solid #fff;
  color: #fff;
}
#progress::before {
  position: absolute;
  content: '';
  display: flex;
  align-items: center;
  top: 2px;
  bottom: 2px;
  left: 2px;
  width: calc(var(--width, 0) * 1%);
  min-width: 0.5rem;
  max-width: calc(100% - 4px);
  background-color: var(--progress);
  border-radius: 1em;
}
#progress::after {
  position: absolute;
  display: flex;
  align-items: center;
  top: 6px;
  bottom: 5px;
  left: 20px;
  content: '';
  width: 100%;
}
