/* Set main colors */
:root {
  --main: #000;
  --main-hover: rgb(46, 45, 45);
  --sec-blue: #05899c;
  --sec-blue-hover: #036b7a;
  --scrollbar-track: rgba(5, 136, 156, 0.1);

  --button-red: #d63031;
  --button-red-hover: #a52626;

  --button-green: #00b894;
  --button-green-hover: #038369;
  --button-gold: #fe7c04;
  --auto: rgba(254, 125, 4, 0.08);
  --man: rgba(0, 184, 147, 0.08);

  --button-gold-hover: #bd5d03;

  --hover-blue: rgba(5, 136, 156, 0.5);
  --button-disabled: #b2bec3;
  --text-color: #2d3436;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none;
}

/* Fonts */
@font-face {
  font-family: Forelle;
  src: url('../fonts/Forelle.ttf');
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

/* Main Body */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
}

input {
  position: relative;
  font-size: 6vw;
  width: 100%;
  padding: 1vh 4vw;
}

#header {
  display: flex;
  position: absolute;
  visibility: hidden;
  top: 2vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 96vw;
  height: 8vh;
  background-color: var(--button-red);
  color: #fff;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 6vw;
}

#p2s-logo {
  display: flex;
  top: 2vh;
  position: absolute;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 96vw;
  height: 10vh;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  -webkit-app-region: drag;
}

#p2s-logo img {
  position: absolute;
  height: 8vh;
}

#container {
  position: relative;
  display: flex;
  width: 96vw;
  height: 96vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 4px 0px rgba(50, 50, 50, 0.5);
}
#details-container {
  position: relative;
  height: 100%;
  width: 89vw;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: flex-start;
  align-content: center;
}

#username-label,
#password-label {
  position: relative;
  top: 2vh;
}

#internal-container {
  position: absolute;
  width: 89vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  top: 14vh;
  font-size: 6vw;
}

.btn {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: var(--button-green);
  color: #fff;
  border: 1px solid #fff;
  width: 94vw;
  font-size: 6vw;
  outline: none;
  margin-bottom: 2vh;
}
.btn:active {
  transform: scale(0.9);
}

.btn:hover {
  background-color: var(--button-green-hover);
}

#close-application {
  background-color: var(--button-red);
}

#close-application:hover {
  background-color: var(--button-red-hover);
}

#button-container {
  position: absolute;
  bottom: 18vh;
  height: 12vh;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
  top: 8vh;
  z-index: 1;
  font-weight: bolder;
  width: 96vw;
  background-color: #fff;
  height: 87vh;
}

.spinner {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
}

.spinner-sector {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid transparent;
  mix-blend-mode: overlay;
}

.spinner-color-a {
  border-top: 5px solid var(--sec-blue);
  animation: rotate 2s linear infinite;
}

.spinner-color-b {
  border-left: 5px solid var(--button-red);
  animation: rotate 2.5s linear infinite;
}
.spinner-color-c {
  border-right: 5px solid var(--button-green);
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
