:root {
  --psys-blue: #05899c;
  --psys-red: #fe1604;
  --psys-green: #03c224;
}

/* Fonts */
@font-face {
  font-family: Forelle;
  src: url('../fonts/Forelle.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 250px;
  height: 250px;
}

.spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.spinner-inside {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  width: 200px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
  z-index: 1;
  backdrop-filter: blur(4px);
  filter: drop-shadow(2px 4px 6px black);
}

#logo {
  position: relative;
  right: 40px;
  width: 65px;
  height: auto;
}

#progress::before {
  position: absolute;
  content: 'Converter';
  font-size: 37px;
  top: 15px;
  font-family: Forelle;
  font-weight: 300;
  z-index: 1;
  left: 90px;
}

.spinner-sector {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 20px solid transparent;
  mix-blend-mode: overlay;
}

.spinner-color-a {
  border-top: 20px solid var(--psys-blue);
  animation: rotate 2s linear infinite;
}

.spinner-color-b {
  border-left: 20px solid var(--psys-red);
  animation: rotate 2.5s linear infinite;
}
.spinner-color-c {
  border-right: 20px solid var(--psys-green);
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
