/* Set main colors */
:root {
  --main: #000;
  --sec-blue: #05899c;
  --sec-blue-hover: #08d1ee;
  --scrollbar-track: rgba(5, 136, 156, 0.1);

  --button-red: #d63031;
  --button-red-hover: #de5b5b;

  --button-green: #00b894;
  --button-green-hover: #00daaf;
  --button-gold: #fe7c04;
  --button-gold-hover: #ce6301;

  --hover-blue: rgba(5, 136, 156, 0.5);
  --button-disabled: #b2bec3;
  --text-color: #2d3436;
}

/* Fonts */
@font-face {
  font-family: Forelle;
  src: url('../fonts/Forelle.ttf');
}

/* MAIN TAG SECTION WITH CHILDREN*/

html {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 15px;
}

body {
  position: relative;
  transform: scale(1);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
}

/* /////////////////////// */
/* CHECK CUSTOMER BOX CSS */
/* //////////////////// /*/

#check-customer {
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 310px;
  width: 210px;
  border: 2px solid #fff;
  border-radius: 10px;
  background-color: #fff;
  transition: visibility 0.3s, opacity 0.3s 0.3s;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}
#check-background {
  display: flex;
  position: relative;
  width: 195px;
  height: 225px;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  padding: 2vh;
  background-color: var(--sec-blue);
  border: 2px solid var(--sec-blue);
  border-radius: 10px;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
}
#customer-search-container {
  position: relative;
  bottom: 5px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 175px;
  height: 35px;
  border-radius: 5px;
}
#customer-search-container img {
  width: auto;
  height: 22px;
  margin-right: 5px;
  margin-left: 3px;
}

#customer-search {
  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
  text-align: center;
  border-radius: 200px;
  height: 25px;
  border: 2px solid #fff;
  color: var(--text-color);
  transition: filter 0.5s;
}

#customer-search:focus {
  outline: none;
  filter: drop-shadow(2px 4px 6px black);

  animation: flash 1s steps(2, end) infinite;
}
@keyframes flash {
  from {
    border: 2px solid #fff;
  }
  to {
    border: 2px solid #fdcb6e;
  }
}

#customer-number-list {
  position: relative;
  bottom: 10px;
  width: 180px;
  background-color: #fff;
  border: 2px solid var(--sec-blue);
  border-radius: 10px;
  height: 120px;
  padding: 2px;
}
#customer-list {
  width: 100%;
  height: 112px;
  overflow: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  justify-items: center;
}
#customer-list::-webkit-scrollbar {
  width: 2px;
  background-color: var(--scrollbar-track);
}
#customer-list::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: var(--sec-blue);
}

/* /////////////////// */
/* POPULATED HTML CSS */
/* ///////////////// */

.cusnum {
  text-align: center;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #fff;
  margin: 0;
  margin-top: 3px;
  border-radius: 5px;
  padding: 3px 0;
  color: var(--text-color);
}

.cusnum:hover {
  color: #fff;
  background-color: var(--hover-blue);
}

.cusnum-clicked {
  position: relative;
  background-color: var(--sec-blue);
  color: #fff;
  border: 1px solid var(--sec-blue);
  text-align: center;
  padding: 3px 0;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  margin: 0;
}

#p2s-logo {
  position: absolute;
  top: -3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  -webkit-app-region: drag;
}
#p2s-logo img {
  position: relative;
  top: 0;
  left: 2px;
  height: 50px;
}
#p2s-logo::after {
  content: 'Viewer';
  top: -1px;
  right: -3px;
  position: relative;
  font-family: Forelle;
  font-size: 35px;
  color: var(--text-color);
}

#button-container {
  position: relative;
  top: 5px;
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  justify-items: center;
  width: 225px;
}

/* BUTTONS */
/* Search Box */

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border-radius: 200px;
  padding: 5px 0;
  color: #fff;
  font-size: 12px;
  text-align: center;
  font-weight: bolder;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-exit {
  position: relative;
  display: flex;
  left: 25px;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  border-radius: 200px;
  width: 80px;
  background-color: var(--button-red);
  color: #fff;
  border: 2px solid #fff;
  font-size: 12px;
  text-align: center;
  padding: 5px 0;
  font-weight: bolder;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-exit:hover {
  animation: button-hover 0.2s linear 1 forwards;
}
.btn-exit:active {
  animation: button-hover 0.2s linear 1 reverse;
}

#check-view-btn {
  position: relative;
  right: 25px;
  display: none;
  text-align: center;
  background-color: var(--button-green);
  color: #fff;
  border: 2px solid #fff;
  width: 80px;
  padding: 5px 0;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}
#check-view-btn:hover {
  animation: button-hover 0.2s linear 1 forwards;
}
#check-view-btn:active {
  animation: button-hover 0.2s linear 1 reverse;
}

#disabled {
  position: relative;
  display: flex;
  font-size: 12px;
  right: 25px;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  font-weight: bold;
  border-radius: 200px;
  height: auto;
  width: 80px;
  color: #fff;
  background-color: var(--button-disabled);
  border: 2px solid #fff;
}

#assist-box {
  bottom: 2px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 30px;
}

#assist-btn {
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 2px solid var(--button-green);
  border-radius: 50%;
}

#assist-btn:hover {
  animation: button-hover 0.2s linear 1 forwards;
}
#assist-btn:active {
  animation: button-hover 0.2s linear 1 reverse;
}

@keyframes button-hover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

#logo-assist {
  width: 18px;
  top: 2px;
  position: absolute;
}

/* //////////////////// */
/* WINDOW CONTROLS CSS */
/* ////////////////// */

/* Max and Grab icons */
.grab-search {
  display: block;
  position: absolute;
  width: 20px;
  top: 5px;
  left: 5px;
  -webkit-app-region: drag;
}
.grab-search:hover {
  cursor: move;
}

#minimize-search {
  position: absolute;
  transform: scale(1);
  top: 5px;
  right: 8px;
  width: 15px;
  height: auto;
  outline: none;
  fill: var(--main);
  transition: transform 0.3s;
}

#minimize-search:hover {
  transform: scale(1.5);
}

#minimize-search:active {
  animation: pulse 0.3s linear forwards;
}
@keyframes pulse {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1.5);
  }
}
