/* Set main colors */
:root {
  --main: #000;
  --sec-blue: #05899c;
  --sec-blue-hover: #08d1ee;
  --scrollbar-track: rgba(5, 136, 156, 0.1);

  --button-red: #d63031;
  --button-red-hover: #de5b5b;

  --button-green: #00b894;
  --button-green-hover: #00daaf;
  --button-gold: #fe7c04;
  --button-gold-hover: #ce6301;

  --hover-blue: rgba(5, 136, 156, 0.5);
  --button-disabled: #b2bec3;
  --text-color: #2d3436;
}

/* Fonts */
@font-face {
  font-family: Forelle;
  src: url('../fonts/Forelle.ttf');
}

/* MAIN TAG SECTION WITH CHILDREN*/

html {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 15px;
}

body {
  position: relative;
  transform: scale(1);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
}

/* /////////////////////// */
/* CHECK CUSTOMER BOX CSS */
/* //////////////////// /*/

#blur {
  position: absolute;
  visibility: hidden;
  height: 95vh;
  width: 92vw;
  z-index: 1;
  border-radius: 8px;
  backdrop-filter: none;
  transition: backdrop-filter 0.8s linear;
}

#check-customer {
  position: absolute;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 95vh;
  width: 92vw;
  border: 2px solid #fff;
  border-radius: 3px;
  background-color: #fff;
  transition: visibility 0.3s, opacity 0.3s 0.3s;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}
#check-background {
  display: flex;
  position: relative;
  width: 92vw;
  height: 72vw;
  bottom: 4vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#customer-search-container {
  position: relative;
  top: 2.5vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 15vw;
}

#customer-search {
  outline: none;
  text-transform: uppercase;
  font-size: 6vw;
  border: 1px solid var(--button-disabled);
  width: 90vw;
  text-align: center;
  height: 11vw;
  color: var(--text-color);
  transition: box-shadow 0.5s;
}

#customer-search:focus {
  outline: none;
  z-index: 3;
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.3);
}

#customer-number-list {
  position: relative;
  width: 90vw;
  background-color: #fff;
  border: 1px solid var(--button-disabled);
  height: 50vw;
}
#customer-list {
  width: 100%;
  height: 48vw;
  overflow: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  justify-items: center;
}
#customer-list::-webkit-scrollbar {
  width: 2px;
  background-color: var(--scrollbar-track);
}
#customer-list::-webkit-scrollbar-thumb {
  height: 3px;
  background-color: var(--sec-blue);
}

/* /////////////////// */
/* POPULATED HTML CSS */
/* ///////////////// */

.cusnum {
  text-align: center;
  font-size: 6vw;
  background-color: #fff;
  margin: 0;
  margin-top: 1vw;
  padding: 2vw 0;
  color: var(--text-color);
}

.cusnum:hover {
  color: #fff;
  background-color: var(--hover-blue);
}

.cusnum-clicked {
  background-color: var(--sec-blue);
  color: #fff;
  border: 1px solid var(--sec-blue);
  text-align: center;
  padding: 2vw 0;
  font-size: 6vw;
  font-weight: bold;
  /* border-radius: 5px; */
  margin: 0;
  margin-top: 1vw;
}

#p2s-logo {
  position: absolute;
  bottom: 96vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  -webkit-app-region: drag;
}

#p2s-logo img {
  position: relative;
  bottom: 0;
  left: 0;
  height: 26vw;
}
#p2s-logo::after {
  content: 'Viewer';
  top: 0.4vw;
  right: 0vw;
  position: relative;
  font-family: Forelle;
  font-size: 18vw;
  color: var(--text-color);
}

#button-container {
  position: absolute;
  bottom: 12.5vw;
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  justify-items: center;
  width: 92vw;
  padding: 0vw 1vw;
  height: 14vw;
}

/* BUTTONS */
/* Search Box */

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;

  padding: 1vw 0;
  color: #fff;
  font-size: 6vw;
  text-align: center;
  font-weight: bolder;
}

.btn-exit {
  position: relative;
  display: flex;
  left: 0;
  justify-content: center;
  align-items: center;
  font-weight: bolder;

  width: 50vw;
  background-color: var(--button-red);
  color: #fff;
  border: 1px solid #fff;
  font-size: 6vw;
  text-align: center;
  padding: 1vw 0;
  font-weight: bolder;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn-exit:hover {
  background-color: var(--button-red-hover);
}
.btn-exit:active {
  transform: scale(0.9);
}

#check-view-btn {
  position: relative;
  right: 0;
  display: none;
  text-align: center;
  background-color: var(--button-green);
  color: #fff;
  border: 1px solid #fff;
  width: 50vw;
  padding: 1vw 0;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}
#check-view-btn:hover {
  background-color: var(--button-green-hover);
}
#check-view-btn:active {
  transform: scale(0.9);
}

#assist-btn {
  position: relative;
  display: flex;
  font-size: 6vw;
  right: 0;
  justify-content: center;
  align-items: center;
  padding: 1vh 0px;
  font-weight: bold;

  height: auto;
  width: 50vw;
  color: #fff;
  background-color: var(--sec-blue);
  border: 1px solid #fff;
}
#logo-assist {
  width: 9vw;
  position: absolute;
}

#assist-btn:hover {
  background-color: var(--sec-blue-hover);
}
#assist-btn:active {
  transform: scale(0.9);
}

#assist-box {
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 92vw;
  height: 10vw;
}

/* #assist-btn {
  text-align: center;
  justify-self: center;
  align-self: center;
  padding: 0;
  width: 15vw;
  height: 15vw;
  background-color: #fff;
  border: 2px solid var(--sec-blue);
  border-radius: 50%;
} */

#monitor-eye {
  position: absolute;
  width: 9vw;
  right: 2vw;
}

#eye {
  position: relative;
}

#mute {
  position: absolute;
  width: 9vw;
  height: auto;
  left: 2vw;
}
#mute-logo {
  position: relative;
}

#price {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: 7vw;
  right: 12vw;
}
#price-logo {
  position: relative;
}

@keyframes eye-on {
  from {
    fill: var(--button-disabled);
  }
  to {
    fill: var(--button-green);
  }
}

/* //////////////////// */
/* WINDOW CONTROLS CSS */
/* ////////////////// */

#minimize-search {
  position: absolute;
  transform: scale(1);
  top: -1vw;
  right: 2vw;
  width: 5vw;
  height: auto;
  outline: none;
  fill: var(--main);
  transition: transform 0.3s;
}

#minimize-search:hover {
  transform: scale(1.2);
}

#minimize-search:active {
  animation: pulse 0.3s linear forwards;
}
@keyframes pulse {
  0% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(1.5);
  }
}

/* CCA BUTTON POPUP */
#admin-popup {
  position: absolute;
  width: 75vw;
  height: 30vw;
  z-index: 3;
  text-align: justify;
  font-size: 6vw;
  background-color: var(--sec-blue);
  border: 1px solid #fff;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}
#admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}
#password {
  position: absolute;
  outline: none;
  top: 9vw;
  width: 74vw;
  font-size: 6vw;
  padding: 1vw;
  text-align: center;
  border: 1px solid #fff;
}
#message {
  font-size: 6vw;
  text-align: start;
  padding: 1vw;
}
#admin-popup[open] {
  animation: popup-notify 0.3s linear 1 forwards;
}
#admin-popup p {
  position: relative;
  bottom: 25px;
}
#admin-container h3 {
  position: absolute;
  top: -5vw;
  font-size: 6vw;
  color: #fff;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#admin-yes {
  position: absolute;
  bottom: 0;
  left: 0;
  text-decoration: none;
  font-size: 6vw;
  font-weight: bold;
  border: 1px solid #fff;
  color: #fff;
  background-color: var(--button-green);
  width: 37vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#admin-yes:hover {
  background-color: var(--button-green-hover);
}
#admin-yes:active {
  transform: scale(0.9);
}

#admin-no {
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;
  font-size: 6vw;
  font-weight: bold;
  border: 1px solid #fff;
  color: #fff;
  background-color: var(--button-red);
  width: 37vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#admin-no:hover {
  background-color: var(--button-red-hover);
}
#admin-no:active {
  transform: scale(0.9);
}

#wrong-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: bold;
  color: #fff;
}

#wrong-popup {
  position: absolute;
  font-size: 6vw;
  top: 15vw;
  z-index: 3;
  height: 13vw;
  width: 75vw;
  border: 1px solid #ffff;
  background-color: var(--button-red);
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}

#wrong-popup[open] {
  animation: popup-notify 0.3s linear 1 forwards;
}

@keyframes popup-notify {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
