:root {
  --psys-blue: #05899c;
  --psys-red: #fe1604;
  --psys-green: #03c224;

  --main: #000;
  --sec-blue: #05899c;
  --button-red: #fe1604;
  --button-green: #03c224;
  --button-gold: #fe7c04;
  --opaque-man: rgba(128, 196, 50, 0.4);
  --auto: #d9793b;
  --opaque-auto: rgba(217, 122, 58, 0.3);
  --progress: #ffb004;
}

/* Fonts */
@font-face {
  font-family: Forelle;
  src: url('../fonts/Forelle.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 225px;
  border-radius: 50%;
}

.spinner-inside {
  position: relative;
  top: 14px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: 22px;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 50px;
  background-color: #fff;
  border: 1px solid #fff;
  z-index: 1;
}

#progress {
  position: relative;
  width: 230px;
  height: 22px;
  background-color: #111;
  border-radius: 1.5em;
  border: 2px solid #fff;
  color: #fff;
}
#progress::before {
  position: absolute;
  content: '';
  display: flex;
  align-items: center;
  top: 2px;
  bottom: 2px;
  left: 2px;
  width: calc(var(--width, 0) * 1%);
  min-width: 0.5rem;
  max-width: calc(100% - 4px);
  background-color: var(--progress);
  border-radius: 1em;
}
#progress::after {
  position: absolute;
  display: flex;
  align-items: center;
  top: 6px;
  bottom: 5px;
  left: 20px;
  content: '';
  width: 100%;
}

#spinner-inside::before {
  position: absolute;
  content: 'Converter';
  font-size: 70px;
  top: 40px;
  font-family: Forelle;
  font-weight: 300;
  z-index: 1;
  left: 178px;
}
#spinner-logo {
  position: absolute;
  width: 250px;
  height: 65px;
  border-radius: 20px;
  filter: drop-shadow(2px 4px 6px black);
  background-color: #fff;
  border: 2px solid var(--main);
  z-index: 1;
}
#spinner-logo::after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  top: 3px;
  width: 100%;
  height: 55%;
  content: attr(data-label);
  font-size: 20px;
  font-weight: bolder;
}

#logo {
  position: absolute;

  width: 32vw;
  bottom: 25vh;
}

.spinner-sector {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 20px solid transparent;
  mix-blend-mode: overlay;
}

.spinner-color-a {
  border-top: 20px solid var(--psys-blue);
  animation: rotate 2s linear infinite;
}

.spinner-color-b {
  border-left: 20px solid var(--psys-red);
  animation: rotate 2.5s linear infinite;
}
.spinner-color-c {
  border-right: 20px solid var(--psys-green);
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-height: 350px) {
  body {
    transform: scale(0.75);
  }
}
