/* Set main colors */
:root {
  --main: #000;
  --sec-blue: #05899c;
  --sec-blue-hover: #08d1ee;
  --scrollbar-track: rgba(5, 136, 156, 0.1);

  --button-red: #d63031;
  --button-red-hover: #de5b5b;

  --button-green: #00b894;
  --button-green-hover: #00daaf;
  --button-gold: #fe7c04;
  --button-gold-hover: #ce6301;

  --hover-blue: rgba(5, 136, 156, 0.5);
  --hover-gold: rgba(206, 100, 1, 0.5);
  --opaque-grey: rgba(178, 190, 195, 0.5);

  --button-disabled: #b2bec3;
  --text-color: #2d3436;
}

/* Fonts */
@font-face {
  font-family: Forelle;
  src: url('../fonts/Forelle.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none;
  color: var(--text-color);
}
button {
  outline: none;
}
a {
  outline: none;
}

html {
  font-family: sans-serif;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

#dim {
  padding-left: 5vw;
}
#length {
  padding-left: 8vw;
}
#treated {
  padding: 0 1vw;
}

#untreated {
  padding: 0 1vw;
}

.dimensions {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  height: 2.5vh;
  left: 4vw;
}

th {
  position: sticky;
  top: 0;
  font-size: 3.5vw;
  padding: 5px 0;
  background-color: var(--sec-blue);
  color: #fff;
  z-index: 1;
}
#row-columns {
  position: sticky;
  margin: 0;
  padding: 0;
}

.price-entries-untreated {
  position: relative;
  left: 5vw;
  border: 1px solid transparent;
  height: 3vh;
  width: 15vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.price-entries-untreated:hover {
  border: 1px solid #fff;
  color: #fff;
  z-index: 3;
  background-color: var(--sec-blue);
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.3);
}

.price-entries-untreated:active {
  transform: scale(0.9);
}

.price-entries-treated {
  position: relative;
  left: 2vw;
  border: 1px solid transparent;
  height: 3vh;
  width: 15vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.price-entries-treated:hover {
  border: 1px solid #fff;
  color: #fff;
  z-index: 3;
  background-color: var(--button-gold);
  box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.3);
}

.price-entries-treated:active {
  transform: scale(0.9);
}

@keyframes button-hover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.table-entries {
  position: relative;
  left: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 2.5vh;
}

td {
  font-size: 3.5vw;
}

tbody {
  position: relative;
  padding: 0px;
  margin: 0;
  width: auto;
  height: 100%;
}
.tr-standard {
  position: relative;
  color: inherit;
}
tr:nth-child(3n + 1) {
  border-bottom: 2px solid var(--scrollbar-track);
}
.tr-standard:hover {
  background-color: var(--opaque-grey);
}

.tr-selected-untreated {
  background-color: var(--hover-blue);
  color: #fff;
}
.tr-selected-treated {
  background-color: var(--hover-gold);
  color: #fff;
}

main {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  height: 8vw;
  width: 98vw;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
}

#header-container {
  width: 100%;
  position: relative;
  z-index: 2;
}

/* Main body container */
#border {
  position: absolute;
  transform: scaleX(1);
  opacity: 0;
  transform-origin: left;
  display: flex;
  height: 98vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  transition: transform 0.3s, opacity 0.5s 0.5s;
}

#overflow {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0 1vw;
}

#customer-name {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  outline: none;
  text-transform: uppercase;
  overflow-y: auto;
  padding: 0 1vw;
}

/* Scrollbar Customization for Table */
#customer-name::-webkit-scrollbar {
  width: 2px;
}

#customer-name::-webkit-scrollbar-track {
  background-color: var(scrollbar-track);
}

#customer-name::-webkit-scrollbar-thumb {
  background-color: var(--sec-blue);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(62, 108, 168, 0.5);
}

#move-container {
  position: absolute;
  left: 0;
  display: flex;
  width: 60vw;
  right: 0;
  height: 8vw;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  -webkit-app-region: drag;
}

#customer-number {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 3.5vw;
  font-weight: bold;
}

#customer-number-container {
  position: absolute;
  color: var(--text-color);
  margin: 0;
  display: flex;
  height: 7.5vw;
  width: 25vw;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--button-disabled);
  border-radius: 3px;
}

#customer-name-container {
  transform-origin: top;
  transform: scaleY(0);
  position: absolute;
  font-size: 3.5vw;
  z-index: 2;
  width: 100%;
  height: 20vw;
  padding: 0 0.5vw;
  padding-bottom: 0.3vh;
  background-color: #fff;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  align-items: center;
  transition: transform 0.2s;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
}

/* Entire table container */
.table-container {
  position: relative;
  text-align: center;
  background-color: #ffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 0.2s;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
}
/* Inner container to seperate border and scrollbar */
#container {
  position: relative;
  overflow: auto;
  max-height: 100%;
  width: 98vw;
}

/* Scrollbar Customization for Table */
#container::-webkit-scrollbar {
  width: 2px;
}

#container::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

#container::-webkit-scrollbar-thumb {
  background-color: var(--sec-blue);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(62, 108, 168, 0.5);
}

/* floating column names */
#columns {
  background-color: var(--main);
  border-bottom: 3px solid var(--main);
}

/* Container for js html population */
#table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
}

/* BUTTONS */

#info {
  position: absolute;
  right: 18vw;
  z-index: 1;
  overflow: hidden;
  border: 1px solid #fff;
  background-color: var(--button-gold);
  font-weight: bolder;
  width: 18vw;
  height: 8vw;
  color: #fff;
}
#info:hover {
  background-color: var(--button-gold-hover);
}
#info:active {
  transform: scale(0.9);
}
#info-logo {
  position: relative;
  height: 7vw;
  width: 7vw;
  fill: #fff;
  padding: 1vw 0;
}

.close {
  position: absolute;
  z-index: 1;
  right: 0vw;
  overflow: hidden;
  border: 1px solid #fff;
  border-top-right-radius: 5px;
  background-color: var(--button-red);
  font-weight: bolder;
  width: 18vw;
  height: 8vw;
  color: #fff;
}

#close:hover {
  background-color: var(--button-red-hover);
}
#close:active {
  transform: scale(0.9);
}
.close-logo {
  position: relative;
  height: 7vw;
  width: 7vw;
  fill: #fff;
  padding: 1vw 0;
}

#grab {
  position: relative;
  left: -40vw;
  width: 6vw;
  height: 6vw;
}

#grab-logo {
  position: relative;
  fill: var(--text-color);
}

#min-logo {
  position: relative;
  transform: scaleX(0);
  width: 138px;
  height: 29px;
  background-color: var(--sec-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid var(--sec-blue);
  border-radius: 200px;
  transition: transform 0.2s;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
}
#logo-circle {
  position: absolute;
  z-index: 1;
  transform: rotate(0);
  background-color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  transition: transform 0.3s;
  animation: logo-flash 1s ease-in-out infinite alternate;
}

@keyframes logo-flash {
  from {
    box-shadow: 1px 1px 15px 0px dodgerblue;
  }
  to {
    box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
  }
}

#logo {
  position: absolute;
  height: 35px;
}
#shrunk-container {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  transition: opacity 0.3s;
}

#product-itemno-popup {
  position: absolute;
  border-radius: 5px;
  max-height: 50vh;
  overflow: auto;
  padding: 0px;
  align-items: center;
  align-content: center;
  border: 1px solid var(--button-disabled);
  background-color: #fff;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
}

#product-itemno-popup[open] {
  animation: popup-notify 0.3s linear 1 forwards;
}
#itemno {
  position: relative;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0.5vh 1vw;
}

#itemno-header {
  position: relative;
  width: 100%;
  color: #fff;
  font-size: 3.5vw;
  font-weight: bold;
  padding: 0.5vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  align-content: center;
  background-color: var(--sec-blue);
}
.size {
  position: relative;
  font-size: 3.5vw;
  padding: 0.7vh 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.size:hover {
  background-color: var(--hover-blue);
  color: #fff;
}
.size:active {
  background-color: var(--sec-blue);
}

#type-flag {
  position: relative;
  width: 100%;
  color: #fff;
  font-size: 3.5vw;
  padding: 0.5vh 0;
  font-weight: bold;
  border: 2px solid #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#copied {
  position: absolute;
  top: 5vh;
  border-radius: 3px;
  border: 1px solid var(--text-color);
  background-color: #fff;
  width: 30vw;
  height: 10vw;
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
}
#copied[open] {
  animation: popup-notify 0.3s linear 1 forwards;
}

#copied-text {
  position: absolute;
  top: 26%;
  left: 34%;
  font-size: 4.5vw;
  font-weight: bold;
  color: var(--text-color);
}
#copied-logo {
  position: absolute;
  left: 7%;
  width: 25%;
  top: 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#copied-logo svg {
  width: 100%;
  height: auto;
}

#blur {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 0vh;
  width: 97vw;
  height: 100%;
  border-radius: 15px;
  backdrop-filter: blur(2px);
  transition: visibility 0.3s;
}

/* PASTE NOTIFICATION*/

#f2,
#f1 {
  display: inline-block;
  border: 1px solid var(--text-color);
  border-radius: 3px;
  padding: 1vh 3vw;
  margin-right: 1vw;
  background-color: #fff;
  filter: invert(1);
}
#itemno-popup {
  display: flex;
  bottom: 24vw;
  position: absolute;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
}

#itemprice-popup {
  display: flex;
  bottom: 10vw;
  position: absolute;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  width: 100%;
}
#paste-notification-popup {
  position: absolute;
  width: 55vw;
  height: 60vw;
  text-align: justify;
  font-size: 4vw;
  border-radius: 5px;
  border: 1px solid var(--main);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
}
#paste-notification-popup[open] {
  animation: popup-notify 0.3s linear 1 forwards;
}
#paste-notification-popup p {
  position: relative;
  font-size: 3.4vw;
  bottom: 0.8vh;
}
#paste-notification-popup h3 {
  position: relative;
  font-size: 3.5vw;
  top: -1.5vh;
}
#paste-notification-yes {
  position: absolute;
  top: 1vh;
  right: 2vw;
  width: 5.5vw;
  border-radius: 50%;
  background-color: #fff;
}
#paste-notification-yes svg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
}

#paste-notification-yes :hover {
  transform: scale(1.1);
}
#paste-notification-yes :active {
  transform: scale(1);
}

#never-show {
  position: absolute;
  font-size: 2.8vw;
  right: 2vw;
  color: var(--main);
  bottom: 1vh;
  padding: 0.4vh 1vw;
  text-decoration: none;
  border: 1px solid var(--main);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#never-show:hover {
  transform: scale(1.1);
}
#never-show:active {
  transform: scale(1);
}

@keyframes popup-notify {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
