/* Set main colors */
:root {
  --psys-blue: #05899c;
  --psys-red: #fe1604;
  --psys-green: #03c224;

  --main: #000;
  --sec-blue: #05899c;
  --button-red: #fe1604;
  --button-green: #03c224;
  --button-gold: #fe7c04;
}

/* Fonts */
@font-face {
  font-family: Forelle;
  src: url('../fonts/Forelle.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none;
}
button {
  outline: none;
}

html {
  font-family: sans-serif;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

#dimensions {
  padding-left: 15px;
}
.dimensions {
  position: relative;
  left: 3px;
}

th {
  position: sticky;
  top: 0;
  font-size: 11px;
  padding: 2px 0;
  background-color: var(--main);
  color: #fff;
  z-index: 1;
}
#row-columns {
  position: sticky;
  margin: 0;
  padding: 0;
}

input {
  background-color: #fff;
  color: #000000;
  font-size: 12px;
  text-align: center;
}
td {
  font-size: 12px;
}

input[type='text'] {
  position: relative;
  border: none;
  padding: 0px;
  margin: 0 -8px;
}
input[type='number'] {
  margin: 0;
  padding: 5px 0;
  width: 45px;
  text-align: center;
  border: none;
  position: relative;
  left: 7px;
}

tbody {
  position: relative;
  padding: 0px;
  margin: 0;
  width: auto;
  height: 100%;
}
tr {
  position: relative;
}
tr:nth-child(3n + 1) {
  border-bottom: 2px solid #ccdaec73;
}

main {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  height: 35px;
  width: 367px;
  background-color: var(--sec-blue);
  border: 1px solid var(--main);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#header-container {
  width: 100%;
  position: relative;
  z-index: 2;
}

/* Main body container */
#border {
  position: absolute;
  transform: scaleX(1);
  opacity: 0;
  transform-origin: left;
  display: flex;
  height: 98vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 5px;
  border-radius: 10px;
  filter: drop-shadow(1px 2px 4px #636363);
  transition: transform 0.3s, opacity 0.5s 0.5s;
}

#overflow {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 5px;
}

#customer-name {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  outline: none;
  text-transform: uppercase;
  overflow-y: auto;
  padding: 0 5px;
}

/* Scrollbar Customization for Table */
#customer-name::-webkit-scrollbar {
  width: 5px;
}

#customer-name::-webkit-scrollbar-track {
  background-color: var(--main);
}

#customer-name::-webkit-scrollbar-thumb {
  background-color: var(--sec-blue);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(62, 108, 168, 0.5);
}

#move-container {
  position: absolute;
  left: 0;
  display: flex;
  width: 100px;
  right: 0;
  height: 30px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  -webkit-app-region: drag;
}

#customer-number {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 12px;
  font-weight: bold;
  padding: 1px 5px;
}

#customer-number-container {
  position: absolute;
  right: 65px;
  margin: 0;
  display: flex;
  width: 80px;
  height: 22px;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
}

#customer-name-container {
  transform-origin: top;
  transform: scaleY(0);
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 60px;
  padding: 3px 3px;
  background-color: var(--sec-blue);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  margin: 0;
  display: flex;
  font-size: 12px;
  justify-content: space-evenly;
  flex-direction: column;
  align-content: center;
  align-items: center;
  transition: transform 0.2s;
  filter: drop-shadow(2px 4px 6px black);
}

/* Entire table container */
.table-container {
  position: relative;
  text-align: center;
  background-color: #ffff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid var(--main);
  overflow: hidden;
  transform-origin: top;
  transform: scaleY(1);
  transition: transform 0.2s;
}
/* Inner container to seperate border and scrollbar */
#container {
  position: relative;
  overflow: auto;
  max-height: 100%;
  width: 365px;
}

/* Scrollbar Customization for Table */
#container::-webkit-scrollbar {
  width: 3px;
}

#container::-webkit-scrollbar-track {
  background-color: var(--main);
}

#container::-webkit-scrollbar-thumb {
  background-color: var(--sec-blue);
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(62, 108, 168, 0.5);
}

/* floating column names */
#columns {
  background-color: var(--main);
  border-bottom: 3px solid var(--main);
}

/* Container for js html population */
#table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
}

/* BUTTONS */

#hide {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  border: 2px solid var(--button-green);
  background-color: var(--button-green);
  font-weight: bolder;
  padding: 2px 5px;
  width: 30px;
  height: 25px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

#hide:hover {
  background-color: #fff;
  color: var(--button-green);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

#hide:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}
#hide-logo {
  position: absolute;
  height: 20px;
  padding: 1px;
  top: 0px;
  left: 0;
  width: 100%;
  fill: #fff;
}
#hide-logo:hover {
  fill: var(--button-green);
}

#unhide {
  position: absolute;
  right: 40px;
  z-index: 1;
  border: 2px solid var(--button-green);
  background-color: var(--button-green);
  font-weight: bolder;
  padding: 2px 5px;
  width: 30px;
  height: 25px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

#unhide:hover {
  background-color: #fff;
  color: var(--button-green);
  box-shadow: 4px 6px 10px 0px rgba(50, 50, 50, 0.8);
}

#unhide:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}
#unhide-logo {
  position: absolute;
  height: 20px;
  padding: 1px;
  top: 0px;
  left: 0;
  width: 100%;
  fill: #fff;
}
#unhide-logo:hover {
  fill: var(--button-green);
}

#info {
  position: absolute;
  right: 230px;
  z-index: 1;
  overflow: hidden;
  border: 2px solid var(--button-gold);
  background-color: var(--button-gold);
  font-weight: bolder;
  width: 30px;
  height: 25px;
  padding: 2px 5px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

#info:hover {
  background-color: #fff;
  color: var(--button-gold);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

#info:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}
#info-logo {
  position: absolute;
  height: 20px;
  padding: 1px;
  top: 0px;
  left: 0;
  width: 100%;
  fill: #fff;
}
#info-logo:hover {
  fill: var(--button-gold);
}

.close {
  position: absolute;
  z-index: 1;
  right: 15px;
  overflow: hidden;
  border: 2px solid var(--button-red);
  background-color: var(--button-red);
  font-weight: bolder;
  padding: 2px 5px;
  width: 30px;
  height: 25px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.8);
  transition: background-color 0.5s, border 0.5s, color 0.5s, box-shadow 0.5s;
}

.close:hover {
  background-color: #fff;
  color: var(--button-red);
  box-shadow: 14px 14px 18px 0px rgba(50, 50, 50, 0.75);
}

.close:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 18px 0px rgba(50, 50, 50, 0.75);
}
.close-logo {
  position: absolute;
  height: 20px;
  padding: 1px;
  top: 0px;
  left: 0;
  width: 100%;
  fill: #fff;
}
.close-logo:hover {
  fill: var(--button-red);
}
#close-b {
  right: 4px;
}
#close-b:hover {
  box-shadow: 4px 6px 10px 0px rgba(50, 50, 50, 0.8);
}

#grab {
  position: absolute;
  left: 15px;
  width: 20px;
  height: 20px;
}

#grab-logo {
  position: relative;
  fill: #fff;
}

#min-logo {
  position: relative;
  left: 45px;
  transform-origin: left;
  transform: scaleX(0);
  width: 115px;
  height: 35px;
  background-color: var(--sec-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border: 1px solid var(--main);
  border-radius: 10px;
  transition: transform 0.2s;
  box-shadow: 1px 1px 10px 0px rgba(50, 50, 50, 0.5);
}
#logo-circle {
  position: absolute;
  z-index: 1;
  transform: rotate(0);
  background-color: #fff;
  width: 85px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid var(--main);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  -webkit-app-region: drag;
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.5);
  transition: transform 0.3s;
}
#logo {
  position: absolute;
  left: 13px;
  top: -1px;
  height: 55px;
}
#shrunk-container {
  visibility: hidden;
  left: 8px;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  transition: opacity 0.3s;
}

#grab-message-container {
  position: absolute;
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 85px;
  height: 55px;
  border-radius: 50%;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: var(--sec-blue);
  z-index: 2;
  border: 1px solid var(--sec-blue);
  animation: none;
}
#grab-message {
  position: relative;
}

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    color: var(--main);
    background-color: #fff;
    border: 1px solid #fff;
  }
}
